*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1400px;
    padding: 0 16px;
    width: 100%;
}
.app{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('images/bg.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}
.nav-list li{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav-list li:nth-child(2):hover .nav-sublist{
    display: flex;    
}
.nav-sublist {
    display: none;
    position: absolute;
}
.app-wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    align-items: center;
}
.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.nav-list{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.center-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-width: 1600px;
}
.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.inputs-wrapper{
    display: flex;
    width: 100%;
    margin-top: 43px;
    margin-bottom: 40px;    
}
.inputs-wrapper input, .inputs-wrapper select{
    flex: 1;
    padding: 32px 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.inputs-wrapper input:first-child{
    border-radius: 5px 0 0 5px;
}
.inputs-wrapper input{
    border-right: 1px solid gray;
}
.center-wrapper h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    color:#FFFFFF;   
    margin-bottom: 17px;
}
.center-wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color:#FFFFFF;
}
.inputs-wrapper:first-child {
    border-radius: 5px 0 0 5px;
}
.peopleCount{
     border-radius: 0 5px 5px 0;
}
.getPrice{
    background-color: #5200D9;
    padding: 24px 32px;
    border-radius: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0em;
    color: #FFFFFF;
}
.getPrice:hover{
    cursor: pointer;
}
.nav-list span{
    margin-right: 2px;
}
.mobileMenuButton{
    display: none;
}
.logoImg{
    margin-top: 5px;
}
.nav-sublist{
    position: absolute;
    background-color: #ffffff79;
    width: 300px;
    height: 300px;
    top: 78px;
}
.app-content{
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-wrapp div h2 {
    margin-bottom: 20px;
}
.content-wrapp h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 29px;
    position: relative;
    padding: 10px 15px 10px 0;
}
.content-wrapp h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.content-wrapp span{
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 0.5px solid#5200D9;
    border-right: 0.5px solid#5200D9;
}
.howToBuy-item{
    width: 19%;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 15px;
}
.item-1{
    background-image: url("images/Frame\ 37.png");
    background-size: cover;
}
.item-2{
    background-image: url("images/Frame\ 38.png");
    background-size: cover;
}
.item-3{
    background-image: url("images/Frame\ 39.png");
    background-size: cover;
}
.item-4{
    background-image: url("images/Frame\ 40.png");
    background-size: cover;
}
.howToBuy-wrapper h2, .reviews-wrapper h2{
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 600;
    line-height: 29px;
    color: #11002D;
}
.reviews-wrapper h2{
    margin-top: 56px;
}
.howToBuyItems-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reviewsItems-wrapper{
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    width: 19%;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
    max-width: 300px;
    background: rgba(82, 0, 217, 0.1);
    border-radius: 5px;
    padding: 15px 20px;
    color: #11002D;
    margin-bottom: 15px

}
.ratingAndDate{
    display: flex;
    justify-content: space-between;
}
.reviewBody h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    overflow: auto;
}
.date-wrapper, .reviewerName{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.reviewerInfo{
    display: flex;
}
.reviewerName{
    padding: 5px;
}
.howToBuy-wrapper, .reviews-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-wrapp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.content-wrapp > div{
    width: 500px;
    height: 200px;
}
footer ul li{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color:#11002D;
    list-style-type: none;
}
footer ul li:first-child{
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
}
footer{
    display: flex;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

footer div{
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contactUsFooter{
    justify-content: flex-start;
}
hr{
    width: 100vw;
    margin: 100px 0 50px 0;
}
.contactUsFooterList{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.contactUsFooterList li:first-child{
    flex-basis: 100%;
}
.contactUsFooterList li:not(first-child){
    justify-content: space-between;
    flex: 1;
    align-items: flex-end;
    flex-basis: 25%;
}
@media only screen and (min-width: 1400px)  {
    .content-wrapp img:not(.lastChild){
        width: 399px;
        height: 399px;
        margin-bottom: 50px;
    }
    .content-wrapp div:first-child{
        margin-top: 150px;
    }
    .lastChild{
        width: 576px;
        height: 385px;
        margin-bottom: 50px;
    }
    .content-wrapp{
        height: 1450px;
    }
    footer{
        width: 60%;
    }
}

@media (max-width: 1400px) and ( min-width: 950px) {
    .app-wrapper{
        width: 100%;
    }
    .navbar-wrapper{
        width: 95%;
    }
    .howToBuy-item {
        width: 21vw;
        height: 21vw;
        min-width: 200px;
        min-height: 200px;
        max-width: 330px;
        max-height: 330px;
    }
    .howToBuyItems-wrapper{
        height: auto;
    }
    .app{
        height: 90vh;
    }
    .content-wrapp{
        height: 1300px;
    }
    .content-wrapp > div{
        width: 50%;
        height: auto;
    }
    .img-info-4{
        width: 45%;
        max-width: 500px;
    }
    .content-wrapp img:not(:last-of-type){
        width: 45%;
        max-width: 330px;
    }
    .content-wrapp > div:first-child{
        margin-top: 100px;
    }
    .content-wrapp div h2{     
        font-size: 24px;
        font-weight: 500;
        line-height: 22px;
        display: inline-block;
    }
    .content-wrapp div h3{     
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    footer{
        width: 95%;
    }
    footer div{
        flex-basis: 30%;
    }
}
@media (max-width: 949px) and ( min-width: 601px) {
    footer{
        width: 95%;
    }
    footer div{
        flex-basis: 30%;
    }
    .howToBuy-item {
        width: 45vw;
        height: 45vw;
        min-width: 280px;
        min-height: 280px;
        max-width: 330px;
        max-height: 330px;
    }
    .howToBuyItems-wrapper{
        height: calc(90vw + 30px)
    }
    .app{
        height: 100vh;
        max-height: 900px;
    }
    .content-wrapp{
        height: 1500px;
    }
    .content-wrapp div{
        width: 50%;
        height: auto;
    }
    .img-info-4{
        width: 400px;
        height: 300px;
    }
    .content-wrapp img:not(:last-child){
        width: 45%;
    }
    .content-wrapp div:first-child{
        margin-top: 100px;
    }
    .content-wrapp div h2{     
        font-size: 24px;
        font-weight: 500;
        line-height: 22px;
    }
    .content-wrapp div h3{     
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    .info-3 span {
        right: 15%;
    }
    footer div{
        width: 40%;
    }
}

@media only screen and (max-width: 600px)  {
    .inputs-wrapper{
        width: 100%;
        background: #FFFFFF;
        border-radius: 5px;
        flex-wrap: wrap;
        display: flex;
        flex: 1;
    }
    .inputs-wrapper input, .inputs-wrapper select{
        padding: 8px;
        background: #F2EAFF;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        flex-basis: 100%;
        border: none;
    }
    .inputs-wrapper input:first-child{
        margin: 16px 24px;
    }
    .inputs-wrapper select{
        margin: 16px 24px;
    }
    input[name="startDate"],  input[name="endDate"]{
        flex:2;
    }
    input[name="startDate"]{
        margin-left: 24px;
        border-radius: 5px 0 0 5px;
        border-right: 1px solid #5200D9;
    }
    input[name="endDate"]{
        margin-right: 24px;
        border-radius: 0 5px 5px 0;
    }
   
    .center-wrapper h1{
        font-size: 16px;
        font-weight: 800;
        text-align: center;
    }
    .center-wrapper h2{
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }
    
    .nav-list li:not(:first-child){
        display: none;
    }
    .nav-list li {
        font-size: 15px;
        line-height: 1.5;
        align-items: center;
    }
    .getPrice{
        margin-top: 24px;
        padding: 12px 28px;
    }
    .logoImg{
        width: 80px;
        height: 50px;
    }
    .mobileMenuButton{
        display: flex;
    }
    .content-wrapper{
        align-items: flex-start;
        margin-top: 30px;
    }
    .content-wrapp{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .img-info-2{
        order: 8;
    }
    .info-4{
        order: 7;
    }
    .img-info-4{
        order: 6;
    }
    .info-2{
        order: 5;
    }
    .img-info-1{
        order: 4;
    }
    .content-wrapp div{
        width: 100%;
    }
    .content-wrapp div:first-child {
        margin-top: 50px;
    }
    .content-wrapp img{
        width: 100%;
        max-width: 300px;
        padding: 50px 0 15px 0;
    }
    .info-3 span{
        right: 10%;   
    }
    .content-wrapp h2{
        font-size: 17px;
        font-weight: 550;
        line-height: 15px;
    }
    .content-wrapp h3{
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
    }   
    .app{
        height: 70vh;
    }
    .review-item{
        width: 100%;
        max-width: none;
        max-height: none;
        margin-bottom: 15px;
        overflow-x: auto;
    }
    
    .howToBuy-wrapper h2, .reviews-wrapper h2 {
        margin-bottom: 20px;
    }
    .howToBuy-item{
        width: 100%;
        max-width: none;
        max-height: none;
        padding-top: 100%;
    }
    .inputs-wrapper{
        margin-bottom: 0;
    }
    .howToBuyItems-wrapper {
        justify-content: center;
    }
    footer{
        width: 90%;
    }
    footer div{
        flex-basis: 100%;
    }
    footer ul{
        width: 100%;
    }
    footer div:not(:last-child) li:not(:first-child){
        background-color: #5200D9;
        display: none;
    }

    footer span{
        background-image: url('images/arrow.png');
        width: 10px;
        height: 5px;
        display: block;
    }
    footer ul li:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contactUsFooter{
        justify-content: flex-start;
    }
}